.weather {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: center;
  font-size: 1.8rem;
  text-transform: capitalize;

  .weather-temp {
    font-size: 2.5rem;
    font-weight: 300;
  }
}
